@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}
 
body {

    background-image: linear-gradient(to
    right, #0CABA8,#015958);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1f2324;
    width:400px;
    padding: 10px;
    margin: auto;
}
h1 {
  color:#008F8C;
  text-align: center;
  text-shadow: 1px 1px 2px #021e04 ;

}

h2 { 
color:#015958 ;
}

p {
    text-align: justify;
}